<div class="announcement-bar">
  Taking December orders now only 4 weekend slots left!
</div>

<style>
  .announcement-bar {
    width: 100%;
    background-color: #d1f0e6;
    color: #033A13; 
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
  }
</style>

