---
const { url = "", item_name = "default name", price = "$0", ready=false, link="/" } = Astro.props;
---

<div class="product">
  <a href=`/${link}`>
    <div class="product-image-container">
      <img src={url} class="product-image" />
    </div>
  
  <div class="product-text">
    <p class="product-name">{ready ? "Ready made & custom " + item_name.toLowerCase() + "s": item_name}</p>
    <p class="product-price">${price}</p>
  </div>
  </a>
</div>

<style>
.product {
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.product-image {
  width: 100%;
  aspect-ratio: 5/3;
  border-radius: 20px;
  object-fit: cover;
  display: block;
  /* max-height: 50vh; */
}

.product-text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  color: #010103;
}

.product-name {
  font-size: 1.5rem;
  margin: 0;
}

.product-price {
  font-size: 16px;
  margin: 0;
}
</style>
