---
const {pic="src/assets/testimonial-1.jpg"} = Astro.props
const base = import.meta.env.BASE_URL;
const imagePath = `${base}/${pic.replace(/^\//, '')}`;
---


<div class="flex flex-row ">
    <div class="min-w-[200px] max-w-[200px] min-h-[220px] max-h-[220px] flex bg-white -rotate-15 shadow-xl">
      <img src={imagePath} class= "w-[100%] h-[100%] border-white border-10 min-w-[200px] max-w-[200px] min-h-[200px] max-h-[200px] object-cover"/>    
    </div>
    <div class="min-w-[200px] max-w-[220px] min-h-[200px] max-h-[220px] flex bg-white rotate-15 shadow-xl">
      <img src={imagePath} class="w-[100%] h-[100%] border-white border-10 min-w-[200px] max-w-[200px] min-h-[200px] max-h-[200px] object-cover"/>
    </div>
</div>