---
const {src="src/assets/testimonial-1.jpg"} = Astro.props
---


<div class="flex flex-col md:flex-row gap-6 pt-10 w-full md:w-[552px] h-auto md:h-[313px]">
    <div class="flex pb-[45px] pt-[9px] pl-[9px] pr-[9px] bg-white -rotate-15 w-full max-w-[260px] h-auto mx-auto shadow-2xl/25">
      <img class= "w-full h-full object-cover"src={src} />    
    </div>
    <div class="flex pb-[45px] pt-[9px] pl-[9px] pr-[9px] bg-white rotate-15 w-full max-w-[260px] h-auto mx-auto shadow-2xl/25">
      <img class="w-full h-full object-cover" src={src} />
    </div>
</div>