@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

@theme {

    /* font */
    --font-body: "Bricolage Grotesque", sans-serif;

    /* white */
    --color-white: #FFFFFF;

    /* BEIGE */
    --color-beige-50: #F4EDE6;

    /* beige container */
    --color-beige-100: #E6D6C6;

    /*  background */
    --color-pink-50: #F0CAC9; 

    /* display */
    --color-pink-100: #D4596B; 

    /* GREEN - banner bg*/
    --color-green-50: #D4E8DB;

    /* secondary */
    --color-green-100: #044A25;

    /* text */
    --color-black-50: #010103;

    /* gray */
    --color-gray-50: #E5E7EB;
}