---
import Navbar from "../components/navbar.astro";
import CustomOrders from "../components/custom_orders.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Orders</title>
  </head>
  <body>
    <CustomOrders
      pageTitle="Cakes and Custom Cakes"
      orderType={["Ready made", "Custom"]}
      defaultSizes={['5"', '8"', '10"']}
      defaultFlavors={["Vanilla", "Chocolate", "Carrot", "Red Velvet"]}
    />

  </body>
</html>
