---
import NavBar from "../components/navbar.astro"
import Product from "../components/product.astro"
import Layout from "../layouts/layout.astro"
---

<html lang="en">
	<Layout>
		<NavBar />
		<h1 class = "header"> Shop our Flans!</h1>
		<Product url="src/assets/products-flan.png" item_name="flans" price="$20/dozen"/>
	</Layout>

	<style>
		.header {
			color: #d12863;
			font-weight: bold;
			text-align: left;
			font-size: 3rem;
		}
	</style>
</html>