---
import NavBar from "../components/navbar.astro"
import Product from "../components/product.astro"
import Layout from "../layouts/layout.astro"
import InfoBar from "../components/infobar.astro";
import Testimonial from "../components/testimonial.astro";

import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Layout>
		
		<NavBar />
		<InfoBar/>
	</Layout>
</html>
