---
import MessageCard from '../components/MessageCard.astro';
---
<html lang="en">
  <head>
    <title>My Custom Page</title>
  </head>
  <body>
    <MessageCard message="Hello from My Page!" />

    <a href="/">
      <button>Go back to Main</button>
    </a>
  </body>
</html>
