---
import "../styles/global.css";
import NavBar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sweet T</title>
  </head>
  <body>
    <NavBar />
    <div class="justify-center flex flex-col align-middle">
        <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    font-family: 'Bricolage Grotesque', sans-serif;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-color: #f4ede6;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: center; */
    /* align-items: center; */
  }
</style>