---
const navOrderLinks = ["Cakes","Custom cakes", "Cupcakes", "Custom cupcakes", "Pastelitos", "Flan", "Assorted Cookies"];
const navInfoLinks = ["Contact us", "FAQ"];
---

<div class="footer-container w-[1232px] h-[446px] bg-green-100 p-[32px] flex flex-col items-center justify-center gap-[32px] rounded-[32px]">
  <div class="footer-items flex flex-col items-center text-center">
    <img src="src/assets/Sweet T.svg" alt="Sweet T logo" class="w-36 sm:w-44 mb-4" />
    
    <h2 class="quote text-lg font-semibold text-beige-50">No spam, just flan</h2>
    <h3 class="email-statement text-sm text-beige-50 max-w-xs mt-2">
      Just weekly menus, pickup reminders for your orders, and heads up when Teresa experiments with new flavors.
    </h3>

    <div class = "email_input mt-4">
      <input type="email" placeholder="Email" class="p-2 rounded-l-md border border-beige-50 fill-beige-50 focus:outline-none" />
      <button img src =src/assests/></button>
  </div>
</div>
