---
// const navLinks = ["Home", "Cakes", "Cupcakes", "Pastelitos", "Cookies", "Flans"];
// const navLinksRightSide = ["Cart", "Login"];

const navLinks = [ {name: "Home", path: "/"}, {name: "Cakes", path: "/cakes"}, {name: "Cupcakes", path: "/cupcakes"}, {name: "Pastelitos", path: "/pastelitos"}, {name: "Cookies", path: "/cookies"}, {name: "Flans", path: "/flans"} ];
const navLinksRightSide = [ {name: "Cart", path: "/cart"}, {name: "Login", path: "/login"} ];
---

<div class="nav-bar">

<div class="nav-bar-left">
  <ul>
    {navLinks.map((link) => <li><a class="link" href={link.path}>{link.name}</a></li>)}  
  </ul>
</div>

<div class="nav-bar-center">
  <h1 class="logo">Sweet T</h1>
</div>

<div class="nav-bar-right">
  <ul>
    {navLinksRightSide.map((link) => <li><a class="link" href={link.path}>{link.name}</a></li>)}  
  </ul>
</div>
  
</div>

<style>
  .nav-bar {
    // border: 1px solid blue;
    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
  }

  .nav-bar-left{
    display: flex;
    // border: 1px solid black;
    margin-right: 60px; 
  }
  .nav-bar-right {
    display: flex;
    // border: 1px solid black; 
    margin-left: 60px; 
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .link {
    font-weight: thin;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }

  .nav-bar-center {
    display: flex;
    // border: 1px solid black;
    gap: 100px
    text-align: center;
    width: 110px;
  }

  .logo{
    font-family: "Parisienne", cursive;
    font-size: 32px;
    color: #044A25;
    margin: 0;
  }

</style>

<script>
//   const link = document.querySelector(".link");

//   if (link) {
//     link.addEventListener("click", function (event) {
//       event.preventDefault();
//       console.log("Link was clicked!");
//       link.textContent =
//   link.textContent === "Click me!" ? "You clicked me!" : "Click me!";

//     });
//   }
</script>
