---
const navLinks = ["Home", "About", "Contact"];
---

<div class="nav-bar">
  <ul>
  {navLinks.map((link) => <li><a class="link" href="#">{link}</a></li>)}
</ul>
</div>

<style>
  .nav-bar {
    margin: 15px;
    padding: 10px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .link {
    font-weight: bold;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }
</style>

<script>
//   const link = document.querySelector(".link");

//   if (link) {
//     link.addEventListener("click", function (event) {
//       event.preventDefault();
//       console.log("Link was clicked!");
//       link.textContent =
//   link.textContent === "Click me!" ? "You clicked me!" : "Click me!";

//     });
//   }
</script>
