---
const {body="default", url="default"} = Astro.props;


---
<div class="button">
  <a href={url}>
    <button>{body}</button>
  </a>
</div>
<style>
    .button{
      margin-top: 10px;
      background-color: #D4596B;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 48px;
      padding-left: 48px;
      border-radius: 12px;
      color: white;
    }
   
</style>
