---
const {name = "Srinjana Chatterjee",body="student_developer", url="src/assets/testimonial-1.jpg"} = Astro.props;
---

<div class="test-container">
  <div class="test-image-container">
    <div>
      <img class="test-image" src={url} />
    </div>
    <div>
      <img class="test-image" src="src/assets/testimonial-1.jpg" />
    </div>
  </div>

  <div class="text-container">
    <h3 class="test-name">{name}</h3>
  <p class="test-body">{body}</p>

  <button>Shop all treats</button>
  </div>
  
  
</div>

<style>

    .test-container {
        display: flex;
        flex-direction: row;
    }
    .test-image-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
  .test-image {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    border: 4px solid white;
    box-shadow: gray;
  }

  .text-container {
    text-align: right;
    margin-left: 30px;
  }
  h3 {
    font-weight: bold;
    font-size: 32px;
  }

  button {
    margin-top: 15px;
    background-color: #D4596B;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }

</style>
