
<div class="flex flex-row pt-10 w-[552px] h-[313px]">
    <div class="flex pb-[45px] pt-[9px] pl-[9px] pr-[9px] bg-white -rotate-15 w-[260px] h-[255px] mr-[30px] shadow-2xl/25">
      <img class= "w-fit object-cover"src="src/assets/testimonial-1.jpg"/>    
    </div>
    <div class="flex pb-[45px] pt-[9px] pl-[9px] pr-[9px] bg-white rotate-15 w-[260px] h-[255px] shadow-2xl/25">
      <img class="w-fit object-cover" src="src/assets/testimonial-1.jpg" />
    </div>
</div>