
<div class="flex flex-row pt-10 w-[552px] h-[313px]">
    <div class="flex pb-15 pt-2 pl-2 pr-2 bg-white -rotate-15 w-[260px] h-[260px] mr-[30px] shadow-2xl/40">
      <img class= "w-fit object-cover"src="src/assets/testimonial-1.jpg"/>    
    </div>
    <div class="flex pb-15 pt-2 pl-2 pr-2 bg-white rotate-15 w-[260px] h-[260px] shadow-2xl/40">
      <img class="w-fit object-cover" src="src/assets/testimonial-1.jpg" />
    </div>
</div>