---
import NavBar from "../components/navbar.astro";
import Product from "../components/product.astro";
import ProductLayout from "../layouts/productLayout.astro";
import OrderSection from "../components/orderSection.astro";

// const {item_name="Item Name", price="$0", url="src/assets/products-cake.png"} = Astro.props;
---

<ProductLayout>
  <OrderSection
    item_name="Cake"
    price="45"
    url="src/assets/products-cake.png"
  />
</ProductLayout>

<!-- <ProductLayout>
  <div class="w-full flex flex-col items-center">
    <h1 class="header">Shop our Cakes!</h1>
    <Product
      url="src/assets/products-cake.png"
      item_name="cakes"
      price="$20/dozen"
    />
  </div>
  <NavBar />
</ProductLayout> -->

<style>
  .header {
    color: #d12863;
    font-weight: bold;
    text-align: left;
    font-size: 3rem;
  }
</style>
