---
import NavBar from "../components/navbar.astro"
import Layout from "../layouts/layout.astro"
import CheckoutModal from "../components/Checkout.astro"
---

<html lang="en">
	<Layout>
		<div class="ml-[50px] mr-[50px] p-[15px]">
			<h1 class="header">Cart</h1>
		<CheckoutModal/>
		</div>
		
	</Layout>

	<style>
		.header {
			color: #d12863;
			font-weight: bold;
			text-align: left;
			font-size: 3rem;
		}
	</style>
</html>