---
import NavBar from "../components/navbar.astro"
import Product from "../components/product.astro"
import Layout from "../layouts/layout.astro"
import InfoBar from "../components/InfoBar.astro";
import Footer from "../components/footer.astro";
import AnnouncementBar from "../components/AnnouncementBar.astro";

import Testimonial from "../components/testimonialSection.astro";
import Hero from "../components/hero.astro";

import '../styles/global.css';
import TestimonialSection from "../components/testimonialSection.astro";
import HowItWorks from "../components/HowItWorks.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sweet T</title>
	</head>
	<Layout>
		
		<AnnouncementBar/>
		<NavBar />
		<Hero/>
		<InfoBar/>
		<TestimonialSection name="Josh P." body="My mom cried. It tasted just like her neighborhood bakery in Little Italy!" url="src/assets/testimonial-1.jpg"/>
		<HowItWorks/>
		<Footer/>
	</Layout>
</html>

<style>
	.order-button{
		display: inline-block;
		background-color: beige;
		padding: 10px 20px;
		border: 2px solid black;
	}
</style>


