---
import AdminLayout from "../../layouts/adminLayout.astro"
const title = "Sales | Sweet T Bakery";
import TopProducts from '../../components/admin/salesTopProducts.astro';
import SalesTrends from "../../components/admin/salesTrends.astro";

---

<AdminLayout currentTab="sales" >
      <main class="min-h-screen bg-slate-50 text-slate-900">

    <!-- Main content -->
    <section class="mx-auto max-w-6xl px-6 py-8">
      <SalesTrends/>
      
    </section>
    <TopProducts/>
  </main>
    
</AdminLayout>
